/* body {
  overflow-x: hidden;
} */

.frameBar {
  width: 100%;
  display: flex;
  height: 30px;
  align-items: center;
  /* justify-content: space-between; */
  background: #001529;
}

.appName {
  flex: 1;
  text-align: center;
  color: white;
}

.controlBtn {
  height: 13px;
  margin-right: 5px;
  min-width: 13px !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.collapseBtn {
  z-index: 100;
  width: 50px;
  height: 30px;
  border-radius: 0;
  background: #001529;
  transition: none !important;
}

.button-group {
  width: 150px;
  align-items: center;
  height: 30px;
  transition: none !important;
}
