.diagram-page {
  /* height: calc(100vh - 230px); */
  height: calc(100vh - 30px - 195px);
  width: 100vw;
  overflow: auto;
  /* border: 5px solid #001529;
  margin: 5px; */
}

.validateButton {
  margin: 10px;
  z-index: 100;
  background-color: #001529;
  position: absolute;
  bottom: 15px;
  right: 0;
}

.validateButton:hover {
  /* background-color: #001529 !important; */
}

.diagram-background {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
