.all-pages {
  overflow: auto;
  overflow-y: auto;
  width: 100%;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  height: calc(100vh - 30px - 175px);
  color: black;
  padding: 5%;
  padding-top: 2%;
  overflow-y: auto; /* Enable vertical scrolling */
  /* overflow-x: hidden; Disable horizontal scrolling */
  scrollbar-gutter: stable; /* Add margin to both sides of the scrollbar */
}

.generic-button {
  background: #001529;
  display: block;
  margin: 0 auto;
  margin-top: 4%;
  width: 150px;
}

.generic-button-settings {
  background: #001529;
}

.settings-page {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  height: calc(100vh - 30px - 175px);
  color: black;
  padding: 5%;
  padding-top: 2%;
  text-align: center;
  scrollbar-gutter: stable;
}

.input-component {
  width: 100%;
}

.alert {
  /* width: 50%; */
  margin: 0 auto;
  margin-top: 1%;
}

.all-pages::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.all-pages::-webkit-scrollbar-track {
  /* background: #1f1f1f; Background of the scrollbar track */
  /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  /* background-color: #001529; */
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.all-pages::-webkit-scrollbar-thumb {
  /* background-color: #1890ff; Color of the scrollbar thumb */
  background-color: #001529;
  border-radius: 4px; /*Rounded corners for the scrollbar thumb*/
}

.all-pages::-webkit-scrollbar-thumb:hover {
  background-color: #40a9ff; /* Color of the scrollbar thumb on hover */
}

.settings-page::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.settings-page::-webkit-scrollbar-track {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.settings-page::-webkit-scrollbar-thumb {
  background-color: #001529;
  border-radius: 4px; /*Rounded corners for the scrollbar thumb*/
}

.settings-page::-webkit-scrollbar-thumb:hover {
  background-color: #40a9ff; /* Color of the scrollbar thumb on hover */
}

.terminal-container {
  width: 100%;
  background: #001529;
  height: 155px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.terminal-container::-webkit-scrollbar {
  width: 5px !important; /* Width of the scrollbar */
}

.terminal-container::-webkit-scrollbar-track {
  /* background: #1f1f1f; Background of the scrollbar track */
  /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-color: #001529 !important;
}

.terminal-container::-webkit-scrollbar-thumb {
  /* background-color: #1890ff; Color of the scrollbar thumb */
  /* background-color: #001529; */

  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
  border-radius: 4px !important; /*Rounded corners for the scrollbar thumb*/
}

.terminal-container::-webkit-scrollbar-thumb:hover {
  background-color: #40a9ff !important; /* Color of the scrollbar thumb on hover */
}

.images {
  width: 500px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
