.all-pages {
  overflow: auto;
  overflow-y: auto;
  width: 100%;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  height: calc(100vh - 30px);
  color: black;
  padding: 5%;
  padding-top: 2%;
  overflow-y: auto; /* Enable vertical scrolling */
  /* overflow-x: hidden; Disable horizontal scrolling */
  scrollbar-gutter: stable; /* Add margin to both sides of the scrollbar */
}

.generic-button {
  background: #001529;
}

.input-component {
  width: 100%;
}

.alert {
  /* width: 50%; */
  margin: 0 auto;
  margin-top: 1%;
}

.all-pages::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.all-pages::-webkit-scrollbar-track {
  /* background: #1f1f1f; Background of the scrollbar track */
  /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  /* background-color: #001529; */
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.all-pages::-webkit-scrollbar-thumb {
  /* background-color: #1890ff; Color of the scrollbar thumb */
  background-color: #001529;
  border-radius: 4px; /*Rounded corners for the scrollbar thumb*/
}

.all-pages::-webkit-scrollbar-thumb:hover {
  background-color: #40a9ff; /* Color of the scrollbar thumb on hover */
}
