.header-name {
  font-size: 40px;
  font-weight: bold;
  width: 100%;
}

.settings-page {
  overflow: auto;
  overflow-y: auto;
  width: 100%;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  height: calc(100vh - 30px);
  color: black;
  padding: 5%;
  padding-top: 2%;
  padding-top: 8%;
  text-align: center;
}
