.welcome-page {
  overflow: auto;
  width: 100%;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  height: calc(100vh - 30px);
  color: black;
  padding: 5%;
  padding-top: 2%;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  text-align: center;
  padding-top: 8%;
  scrollbar-gutter: stable;
  overflow-y: auto;
}

.first-col-welcome {
  width: 60%;
  border-radius: 20px;
  background: white;
  padding: 0 5%;
}

.docker-logo {
  max-width: 100%;
  max-height: 100%;
  width: auto; /* Adjusts width to maintain proportions */
  height: auto; /* Adjusts height to maintain proportions */
  object-fit: contain;
}

.network-logo {
  width: 70%;
  height: 50%;
}

.input-welcome {
  width: 50%;
  height: 40px;
  margin-bottom: 5%;
}

.button-welcome {
  width: 50%;
  height: 40px;
  margin-bottom: 3%;
  background: #001529;
}

.second-col-welcome {
  padding-left: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-welcome {
  font-size: 40px;
  margin-bottom: 0;
}

.header-hr {
  height: 5px;
  background: #001529;
  border-radius: 10%;
}

.welcome-font-p {
  font-size: 20px;
  text-align: justify;
}

.header-h2 {
  font-size: 25px;
}

.header-h3 {
  font-size: 20px;
}

.welcome-page::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.welcome-page::-webkit-scrollbar-track {
  /* background: #1f1f1f; Background of the scrollbar track */
  /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  /* background-color: #001529; */
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.welcome-page::-webkit-scrollbar-thumb {
  /* background-color: #1890ff; Color of the scrollbar thumb */
  background-color: #001529;
  border-radius: 4px; /*Rounded corners for the scrollbar thumb*/
}

.welcome-page::-webkit-scrollbar-thumb:hover {
  background-color: #40a9ff; /* Color of the scrollbar thumb on hover */
}
