.text-updater-node {
  height: 130px;
  border: 1px solid black;
  width: 100px;
  border-radius: 5px;
  background: white;
  position: relative;
  z-index: 2;
}

.docker-image-logo {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  display: block;
  transparent: 0.5;
  position: absolute;
  bottom: 85px;
  left: 50%;
  transform: translate(-50%, 0);
}

.container-category {
  display: flex;
  background: grey;
  border-radius: 4px 0 10px 0;
  width: 60%;
  font-size: 50%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.container-state {
  font-size: 50%;
  padding: 3px 0;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.state-indicator-running {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 3.5px;
  background: green;
  animation: flash 1s infinite alternate;
}

.state-indicator-paused {
  width: 8px;
  height: 8px;
  margin-left: 3.5px;
  display: inline-block;
  border-radius: 50%;
  background: yellow;
}

.state-indicator-exited {
  width: 8px;
  margin-left: 3.5px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: red;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ip-address {
  font-size: 50%;
  text-align: center;
  background: #387adf;
  border-radius: 10px 10px 0 0;
  position: absolute;
  padding: 3px 5px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: bold;
}

.mac {
  font-size: 50%;
  margin-left: 5px;
}

.gateway {
  font-size: 50%;
  margin-left: 5px;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.veth-container {
  padding: 2px 20px;
  background: #387adf;
  font-size: 60%;
}

.network-type-container {
  padding: 2px 20px;
  background: #27559c;
  font-size: 80%;
}

.port-container-o {
  height: 20px;
  width: 60px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  top: 100%;
  font-size: 40%;
  /* top: 25px; Aligns this div exactly below the host-container */
  left: 50%;
  transform: translateX(-50%);
  z-index: -100000;
  background-color: lightblue;
  text-align: center;
  border-bottom-left-radius: 5px; /* Optional: rounds the bottom corners */
  border-bottom-right-radius: 5px; /* Optional: rounds the bottom corners */
}
