name: Build macOS App

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Build macOS App
        run: npm run package
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macOS-App
          path: release/build/
