name: Build macOS App

on:
  workflow_dispatch:

jobs:
  build-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '21.2.0'
      - name: Install dependencies
        run: npm install
      - name: Build macOS App
        run: npm run package
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macOS-App
          path: release/build/
